.loading-local-background {
  gap: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background: var(--main-custom-blue-50);
  box-shadow: inset 0 0 2rem 2rem white;
  margin: 0;
  padding: 5rem;
  max-width: 90vw;
  height: 30rem;
  width: 70rem;
}

.loading-spinner-local {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid var(--main-custom-blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}
