.home-imagenes-container {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  background: rgba(64, 98, 218, 0.375875350140056) 50%;
  box-shadow: inset 0 0 2rem 2rem white;
  margin: 0;
  padding: 5rem;
}

.home-imagenes {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2em; /* Adjust the gap as needed */
  max-width: 1140px; /* Use max-width instead of width */
}
.rectangle {
  flex: 0 0 calc((100% - 100px) / 3); /* Adjust the width calculation for 3 images per line */
  height: 11rem;
  object-fit: cover;
}
