.home-imagenes-container {
  align-items: center;
  display: flex;
  justify-content: center;
  background: var(--main-custom-blue-50);
  box-shadow: inset 0 0 2rem 2rem white;
  margin: 0;
  padding: 5rem;
  max-width: 100vw;
}

.home-imagenes {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2em; /* Adjust the gap as needed */
  max-width: 1140px; /* Use max-width instead of width */
}

@media only screen and (max-width: 800px) {
  .home-imagenes-container {
    background: none;
    box-shadow: none;
    padding: 0;
  }
}
