.asset-on-list {
  align-items: center;
  border: 3px solid #d9d9d9;
  display: inline-flex;
  max-height: 15em;
  height: 15em;
  width: 99%;
  justify-content: space-between;
}

.asset-on-list:hover {
  background-color: var(--main-custom-blue-80);

}

.asset-on-list-description {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-width: 60%;
  justify-content: space-between;
  padding: 0.5em;
  width: 60%;
  height: 90%;
  /* background-color: green; */
}

.asset-on-list-caracs {
  display: inline-flex;
  gap: 1rem;
}

.asset-on-list-title-address {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 0.4em;
  max-height: 7em;
}

.asset-on-list-title {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  letter-spacing: 0.96px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.asset-on-list-address {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0;
}

.icons {
  height: 54.01px;
  width: 140px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.asset-on-list-icon {
  height: 20px;
}

.asset-on-list-image-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100%;
  width: 30%;
}

.asset-on-list-image {
  height: 90%;
  object-fit: cover;
  width: 90%;
}

.asset-on-list-buttons {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  padding: 0 1rem 0rem 1rem;
}

@media only screen and (max-width: 1000px) {
  .asset-breve-button {
    display: none;
  }
}
