.asset-on-list {
  align-items: flex-start;
  border: 3px solid;
  border-color: #d9d9d9;
  display: inline-flex;
  gap: 38px;
  padding: 19px 16px;
  width: 45rem
}

.asset-on-list-description {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
}

.asset-on-list-title-description {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 100%;
}

.asset-on-list-title-address {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
}

.asset-on-list-title {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.96px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:22rem; /* Set a fixed or max-width as needed */
}

.asset-on-list-address {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.asset-on-list-description-text {
  color: #000000;
  font-family: "Inter-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  height: 2rem;
  letter-spacing: 0.24px;
  line-height: 14.4px;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icons {
  height: 54.01px;
  width: 140px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.asset-on-list-icon {
  height: 20px;
}

.asset-on-list-image {
  height: 15em;
  object-fit: cover;
  position: relative;
  width: 25rem;
}

.asset-on-list-buttons{
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  padding: 0 1rem 0rem 1rem;
}