.ModalOverlay-Register {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  z-index: 1000; /* Adjust the z-index value based on your needs */
}

.ModalOverlayX-Register {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  position: relative;
  min-height: 100vh;
}
.IoCloseCircle-register {
  cursor: pointer; /* Add a pointer cursor for better usability */
  position: absolute;
  z-index: 10000;
  right: 0;
}
.return-arrow{
  position: absolute;
  left: 0;
  z-index: 10000;
  }

.ModalContent-Register {
  background: #fff;
  padding: 5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a subtle shadow */
  z-index: 1001; /* Ensure the modal content is on top of the overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 70rem;
  height: 100%;
}

.visibilityButton{
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: absolute;
  right: -3em;
  bottom: 0;
}

.passwordInput{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  }

.Register-Text-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* background-color: aqua; */
}

.authenticate-signin-title {
  margin: 0;
}

.Register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  gap: 0.5rem;
  width: 80%;
}

.google-signin-container {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.authenticate-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.authenticate-register-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
