.quienes-somos-page {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-custom-blue-pastel);
  border-radius: 10px ;
  width: 70rem;
  padding: 2rem;
  max-width: 90vw;
  margin: 0 auto;
  align-items: center;
}


.quienes-somos-title {
  font-size: 3em;
  color: var(--main-custom-blue);
  text-align: center;
}

.quienes-somos-description {
  flex: 1;
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.quienes-somos-image {
  width: 20rem;
  height: 15rem;
  object-fit: contain;
  border-radius: 8px;
  margin-left: 20px;
}

/* Adjust styles as needed */
