.asset-list-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 0;
  width: 80rem;
  max-width: 90vw;
  /* background-color: aqua; */
}

.asset-list-page-container {
  width: 100%;
}



@media only screen and (max-width: 1000px) {
  .asset-list-description-container {
    display: none;
  }
  .asset-list-page-container {
    overflow-y: none;
    width: 100%;
    /* background-color: aquamarine; */
  }
}
