.user-inferface {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 80rem;
  max-width: 90vw;
}

.user-outlet-section {
  border: 2px solid #4062da;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
}

.UserInterface-loading-spinner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}