.eres-propietario-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;
}

.top-eres-propietario {
  padding-top: 2rem;
  width: 1188px;
  display: inline-flex;
  gap: 10rem;
  max-width: 100%;
}

.top-eres-propietario-texto {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  padding: 1rem;
  max-width: 100%;
}

.eres-porpietario-titulo {
  color: var(--main-custom-blue);
  font-family: "Newsreader-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  margin-top: 0;
  width: fit-content;
  max-width: 100%;
}

.eres-propietario-description {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
}

.eres-propietario-text {
  color: #000000;
  font-family: "Newsreader-Regular", Helvetica;
  text-align: start;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  max-width: 100%;
}

.eres-propietario-image {
  height: 15rem;
  object-fit: cover;
}

@media only screen and (max-width: 800px) {
  .eres-propietario-page {
    max-width: 98vw;
    align-items: flex-start;
  }
  .top-eres-propietario {
    text-align: start;
  }
}
