
.small-search-bar {
  align-items: center;
  border: 3px solid;
  border-color: #4062da;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 15px 30px;
  position: relative;
  width: 665px;
}

.shape-small {
  height: 1rem;
  position: relative;
  width: 1rem;
}

.small-search-bar-text-wrapper {
  color: var(--neutral-500);
  font-family: "Manrope-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -16.33px;
  margin-top: -3px;
  position: relative;
  width: 602px;
  ::placeholder {
    text-align: center; 
 }
}
