.NavBar {
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
    align-items: center;
}

.NavBar-Name {
    color: #4062da;
    font: 700 50px/50px "Newsreader-Medium", Helvetica;
    cursor: pointer;
  }

.Nav-Links {
    display: inline-flex;
    gap: 3em;
}


.Eres-Propietario {
  background-color: #4062da;
  border-radius: 8px;
  padding: 14px 11px;
}

.Nav-Sections {
  display: inline-flex;
  gap: 1.5rem;
}

.NavBar-Sections-Item{
  color: #000;
  font: 400 16px/20.8px "Inter-Regular", Helvetica;
  height: 21px;
  padding: 1rem;
  text-decoration: none;
}

.NavBar-Buttons{
  display: inline-flex;
  gap: 0.5rem;
}
