.tus-datos-page{
  display: flex;
  padding: 1.5rem;
  gap: 2rem;
}

.tus-datos-header {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
}
.tus-datos-name {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
.tus-datos-nacionalidad {
  margin: 0;
}

.tus-datos-foto {
  max-height: 4rem;
  object-fit: contain;
  max-width: 4rem;
}

.tus-datos-info-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.tus-datos-datas-inputs-container {
  border: 1px solid #4062da;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 30rem;
  text-align: start;
  gap: 1rem;
}

.tus-datos-section-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tus-datos-modificar-container {
  text-align: end;
}
.tus-datos-modificar {
  color: #4062da;
  font-family: "Newsreader-Medium", Helvetica;
  font-size: 10px;
  font-weight: 500;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-title {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  margin: 0;
}
