.asset-page {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 2rem;
  max-width: 100vw;
}

.asset-page-top-container{
  align-items: center;
  display: flex;
  gap: 2rem;
  flex-direction: row;
}
.asset-page-top-favorito{
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

html{
  scroll-behavior: smooth;
}

.asset-page-top-title{
  margin-right: 0;
}
.asset-page-description-section {
  height: fit-content;
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 4rem;
  max-width: 100vw;
}

.asset-page-descripcion-container {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-color: #00000066;
  border-radius: 2%;
  position: relative;
  width: 30rem;
  padding: 1rem;

}

.asset-page-title {
  color: #000000;
  font-family: "Newsreader-Regular", Helvetica;
  font-size: 2em;
  font-weight: 400;
  margin: 0;

}

.asset-page-description {
  color: #000000;
  font-family: "Newsreader-Regular", Helvetica;
  font-size: 17px;
  text-align: start;

}

@media only screen and (max-width: 800px) {
  .asset-page-description-section{
    display: flex;
    flex-direction: column ;
    align-items: center;
  }

  .asset-page-descripcion-container{
    width: 90vw;
  }
  .asset-page-top-container{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }
  .asset-page-share-button{
    display: none;
  }
  .asset-page-top-title{
    margin: 0;
  }
}