.custom-button-blue {
  background-color: var(--main-custom-blue);
  border-radius: 8px;
  max-height: 48px;
  padding: 0 1rem 0 1rem;
  border: none;
  cursor: pointer;
}

.custom-button-text-blue {
  color: #fff;
  font: 600 1rem/1.1em "Inter-SemiBold", Helvetica;
}

/*? Blue Small */
.custom-button-blue-small {
  background-color: var(--main-custom-blue);
  border-radius: 8px;
  max-height: fit-content;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  width: fit-content;
}

.custom-button-text-blue-small {
  color: #fff;
  font: 600 .6rem "Inter-SemiBold", Helvetica;
  margin: 0;
}

.custom-button-white {
  background-color: #fff;
  border-radius: 8px;
  max-height: 48px;
  padding: 0 1rem 0 1rem;
  border: none;
  cursor: pointer;
}


.custom-button-login {
  background-color: transparent;
  border-radius: 8px;
  max-height: 48px;
  padding: 0 1rem 0 1rem;
  border: none;
  cursor: pointer;
}

.custom-button-text-white {
  color: var(--main-custom-blue);
  font: 600 16px/20.8px "Inter-SemiBold", Helvetica;
}

.custom-button-text-white-small {
  color: var(--main-custom-blue);
  font: 600 16px/20.8px "Inter-SemiBold", Helvetica;
}

.custom-button-arrow {
  width: 30px;
  max-height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--main-custom-blue);
  color: #fff;
  border: none;
  margin: 0 5px;
}

.custom-button-text-arrow {
  color: #fff;
  font: 600 16px/20.8px "Inter-SemiBold", Helvetica;
}

.custom-button-close-white {
  background-color: #fff;
  border-radius: 8px;
  max-height: 48px;
  padding: 0rem 0.2rem 0 0.2rem;
  border: 2px var(--main-custom-blue) solid;
  cursor: pointer;
  text-align: center;
}

.custom-button-text-close-white {
  color: var(--main-custom-blue);
  margin: 0rem;
  padding: 0rem;
  font: 600 0.8rem/.8rem "Inter-SemiBold", Helvetica;
}


/* !Media q */
@media only screen and (max-width: 800px) {
  
  .custom-button-text-blue {
    color: #fff;
    font: 600 .9em "Inter-SemiBold", Helvetica;
  }
  
  
  .custom-button-text-blue-small {
    color: #fff;
    font: 600 .6rem "Inter-SemiBold", Helvetica;
    margin: 0;
  }
  

  .custom-button-text-white {
    color: var(--main-custom-blue);
    font: 600 .9em "Inter-SemiBold", Helvetica;
  }

  
}
